html, body {
    font-size: 16px;
    font-family: Lato;
    color: #424551;
    line-height: 160%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    padding: 0 40px;
    color: #fff;
    margin-right: 36px;
}

.button:hover, .button--clear:hover {
    transform: scale(1.05);
    transition: .3s;
}

.button--clear {
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    padding: 0 40px;
    color: #F75E05;
    margin-right: 36px;
    background-image: none;
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}



/* ---------------------------------------------------- */

.header {
    font-weight: 700;
    background: url(../images/decor/shapes.svg) 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header__top {
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__banner {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.header__logo {
    margin-right: 60px;
}
.header__logo-img {
    
}
.header__menu {
    margin-right: auto;
}
.header__nav {
    
}
.header__nav-list {
    display: flex;
    
}
.header__list-item {
    font-weight: 700;
    margin-right: 40px;
}
.header__list-item:hover, .header__user-btn:hover {
    color:#F75E05;
    transition: all .3s;
}

.header__nav-link {
}
.header__btn-box {
    display: flex;
    align-items: center;
}
.header__top-btn {
    
}
.header__user-nav {
    position: relative;
    padding-left: 28px;
}
.header__user-btn {
}
.header__body {
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    background: url(../images/icons/user-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
}

/* ------------------------------------------------------------ */

.banner__button {
    display: flex;
    align-items: center;
}

.banner__button-play {
    margin-right: 16px;
}

.banner__buton-link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.banner__button-link svg {
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.banner__button-link:hover svg {
    box-shadow: 0 0 0 16px rgb(255 63 58 / 12%);
}

.banner__title {
    max-width: 496px;
    margin-top: 24px;
}

.banner__title-h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
    color: #1E212C;
}

.banner__buttons {
    display: flex;
    margin-top: 60px;
}

.header__statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.statitcs__item {
    display: flex;
    align-items: center;
}

.statistics__item-number {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-right: 12px;
}

.statistics__item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-right: 66px;
}

.statistics__box {
    width: 100%;
}

.statistics__doted {
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    border-radius: 5px;
    margin-right: auto;
}

/* ------------------------------------------------- */

.about--inner {
    display: flex;
    justify-content: space-between;
    margin: 179px 0;
    background-image: url();
}

.about__descr {
    margin-right: 165px;
}

.about__descr-span {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
}

.about__descr-h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 48px;
}

.fz20 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
}

.fz16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.about__descr-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}

/* ------------------------------------------------ */

.statistics__inner {
    display: flex;
    align-items: center;
    margin: 179px 0;
}

.statitcs__item {
    margin-bottom: 20px;
}

.statistics__image {
    margin-right: 130px;
}

.orange {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
}

.fz18 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}